body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #5a189a;
}


.search-input {
  width: 96%;
  padding: 10px;
  border: 1px solid #a78bfa;
  border-radius: 8px;
  margin-bottom: 20px;
}

.add-task {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.add-task input {
  flex: 1;
  padding: 10px;
  border: 1px solid #a78bfa;
  border-radius: 8px;
}

.add-task button {
  background-color: #7c3aed;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.add-task button:hover {
  background-color: #5b21b6;
}


.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
  
}

.task-title {
  font-size: 1rem;
  color: #333;
}

.task-completed {
  text-decoration: line-through;
  color: #7c3aed;
  opacity: 0.7;
}

.task-actions button {
  background: none;
  border: none;
  color: #7c3aed;
  cursor: pointer;
  margin-left: 8px;
}

.task-actions button:hover {
  color: #5b21b6;
}